/* -- SKILLS -- */
.sheet-wrapper-conditional-marker {
    display: inline-block;
    width: 11px;
    height: 15px;
}

.sheet-conditional-marker {
    font-family: Pictos;
    color: #AE4D4D;
    cursor: pointer;
    font-size: 14px;
}

input[name="attr_skill_conditional_notes"][value=""] ~ .sheet-wrapper-conditional-marker .sheet-conditional-marker {
    display: none;
}

.sheet-skills { width: calc(100% - 0.4em); }
.sheet-skills .sheet-col0 { width: calc(100% - 327px); }
.sheet-skills .sheet-col0 input { text-align:left; }
.sheet-skills .sheet-col1 { width: 27px; }
.sheet-skills .sheet-col2 { width: 30px; }
.sheet-skills .sheet-col3 { width: 40px; }
.sheet-skills .sheet-col4 { width: 55px; }
.sheet-skills .sheet-col5 { width: 50px; }
.sheet-skills .sheet-col6 { width: 30px; }
.sheet-skills .sheet-col7 { width: 30px; }
.sheet-skills .sheet-col8 { width: 60px; }
.sheet-skills .sheet-row-stats .sheet-col0 { margin-left: 48px; width: calc(100% - 376px); }

.sheet-skills .sheet-row-misc .sheet-col0 { margin-left: 48px; width: calc(100% - 703px); }

.sheet-familiarities {
    display: none;
}

input[name="attr_familiarities_show"][value="1"] ~ .sheet-familiarities {
    display: block;
}

.sheet-skills .sheet-reason-for-mod {
    width: calc(100% - 162px);
}

.sheet-skills .sheet-reason-for-mod input {
    text-align: left;
}

.sheet-row.sheet-row-stats input:not(.sheet-inline) {
    width: 96% !important;
}

/* -- highlight row -- */
input.sheet-option-alert ~ select option[value="10"] {
    font-weight: bold;
    color: red;
}

input.sheet-option-alert[value="10"] ~ select {
    font-weight: bold;
    color: red;
}

.sheet-skills .repcontainer.ui-sortable.editmode .sheet-toggle-notes {
    display: none;
}

.sheet-skills .sheet-toggle-notes {
    position: absolute;
    left: 0px;
}

.sheet-skills input.sheet-toggle-highlight[type="checkbox"] {
    width: 16px;
    height: 22px;
    opacity: 1;
    position: absolute;
    margin-left: 25px;
}

.sheet-skills input.sheet-toggle-highlight[type="checkbox"]:checked ~ .sheet-row-stats,
.sheet-skills input.sheet-toggle-highlight[type="checkbox"]:checked ~ .sheet-row-stats input:enabled,
.sheet-skills input.sheet-toggle-highlight[type="checkbox"]:checked ~ .sheet-row-details {
    background: #B7FFAA;    
}

/* -- techniques -- */

/* show or hide */
input.sheet-box-techniques-old[value="1"] + div.sheet-techniques {
    display: block !important;
}

input.sheet-box-techniques-old[value="0"] + div.sheet-techniques {
    display: none !important;
}

.sheet-techniques { width: calc(100% - 0.4em); }
.sheet-techniques .sheet-col0 { width: calc((100% - 260px) * 0.55); }
.sheet-techniques .sheet-col0 input { text-align:left; }
.sheet-techniques .sheet-col1 { width: calc((100% - 293px) * 0.45); }
.sheet-techniques .sheet-col1 input { text-align:left; }
.sheet-techniques .sheet-col2 { width: 30px; }
.sheet-techniques .sheet-col3 { width: 30px; }
.sheet-techniques .sheet-col4 { width: 40px; }
.sheet-techniques .sheet-col5 { width: 30px; }
.sheet-techniques .sheet-col6 { width: 40px; }
.sheet-techniques .sheet-col7 { width: 30px; }
.sheet-techniques .sheet-col8 { width: 60px; }
.sheet-techniques .sheet-row-stats .sheet-col0 { margin-left: 27px; width: calc((100% - 260px) * 0.55 - 27px); }

/* -- if edit mode, hide toggle notes -- */
.sheet-techniques .repcontainer.ui-sortable.editmode .sheet-checkbox,
.sheet-techniques .repcontainer.ui-sortable.editmode .sheet-toggle {
    opacity: 0;
    z-index: -1;
}

.sheet-techniques .sheet-row-details.sheet-notebox {
    min-height: 108px;
    height: 100%;
    padding: 0 4px;
}

.sheet-techniques .sheet-row-details.sheet-notebox .sheet-col-notebox {
    min-height: 108px;
    height: 100%;
    width: 100%;
}


/* -- techniques revised -- */

/* show or hide */
input.sheet-box-techniques-new[value="1"] + div.sheet-techniques {
    display: block !important;
}

input.sheet-box-techniques-new[value="0"] + div.sheet-techniques-revised {
    display: none !important;
}

.sheet-techniques-revised .sheet-cell {
    padding: 1px;
}

.sheet-techniques-revised .sheet-cell.sheet-col-wide b {
    margin: 0 5px 0 5px;
}

.sheet-techniques-revised { width: calc(100% - 0.4em); }
.sheet-techniques-revised .sheet-col0 { width: calc(100% - 512px); }
.sheet-techniques-revised .sheet-col0 input { text-align:left; }
.sheet-techniques-revised .sheet-col1 { width: 140px; }
.sheet-techniques-revised .sheet-col1 input { text-align:left; }
.sheet-techniques-revised .sheet-col2 { width: 35px; }
.sheet-techniques-revised .sheet-col3 { width: 35px; }
.sheet-techniques-revised .sheet-col4 { width: 40px; }
.sheet-techniques-revised .sheet-col5 { width: 75px; }
.sheet-techniques-revised .sheet-col6 { width: 30px; }
.sheet-techniques-revised .sheet-col7 { width: 30px; }
.sheet-techniques-revised .sheet-col8 { width: 40px; }
.sheet-techniques-revised .sheet-col9 { width: 27px; }
.sheet-techniques-revised .sheet-col10 { width: 60px; }

.sheet-techniques-revised .sheet-row-stats .sheet-col0 { 
    margin-left: 44px; 
    width: calc(100% - 560px);
}

.sheet-techniques-revised .sheet-tooltip-tech-ref {
    margin-left: -200px;
}

/* -- if edit mode, hide toggle notes -- */
.sheet-techniques-revised .repcontainer.ui-sortable.editmode .sheet-checkbox,
.sheet-techniques-revised .repcontainer.ui-sortable.editmode .sheet-toggle {
    opacity: 0;
    z-index: -1;
}

.sheet-techniques .sheet-row-details.sheet-notebox {
    min-height: 108px;
    height: 100%;
    padding: 0 4px;
}

.sheet-techniques .sheet-row-details.sheet-notebox .sheet-col-notebox {
    height: 108px;
    width: 100%;
}

/* highlight row */
.sheet-techniques-revised input.sheet-toggle-highlight[type="checkbox"] {
    width: 16px;
    height: 22px;
    opacity: 1;
    position: absolute;
    margin-left: 25px;
}

.sheet-techniques-revised input.sheet-toggle-highlight[type="checkbox"]:checked ~ .sheet-row-stats,
.sheet-techniques-revised input.sheet-toggle-highlight[type="checkbox"]:checked ~ .sheet-row-stats input:enabled,
.sheet-techniques-revised input.sheet-toggle-highlight[type="checkbox"]:checked ~ .sheet-row-details {
    background: #B7FFAA;    
}

/* show/hide row id  */
.sheet-technique-notebox input[name="attr_technique_row_type"][value="ST"] ~ .sheet-show-hide-row-id,
.sheet-technique-notebox input[name="attr_technique_row_type"][value="STRIKING"] ~ .sheet-show-hide-row-id,
.sheet-technique-notebox input[name="attr_technique_row_type"][value="DX"] ~ .sheet-show-hide-row-id,
.sheet-technique-notebox input[name="attr_technique_row_type"][value="IQ"] ~ .sheet-show-hide-row-id,
.sheet-technique-notebox input[name="attr_technique_row_type"][value="WILL"] ~ .sheet-show-hide-row-id,
.sheet-technique-notebox input[name="attr_technique_row_type"][value="HT"] ~ .sheet-show-hide-row-id,
.sheet-technique-notebox input[name="attr_technique_row_type"][value="10"] ~ .sheet-show-hide-row-id {
    display: none;
}

